aiohttp==3.8.3
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
browser_cookie3==0.18.1
charset-normalizer==2.1.1
cryptg==0.4.0
discord.py==2.2.2
dnspython==2.2.1
flanautils
frozenlist==1.3.3
hachoir==3.2.0
idna==3.4
iso8601==1.1.0
jeepney==0.8.0
jellyfish==0.9.0
kaleido==0.2.1
mpmath==1.2.1
multidict==6.0.4
Pillow==9.4.0
plotly==5.11.0
pyaes==1.6.1
pyasn1==0.4.8
pymongo==4.3.3
rsa==4.9
sympy==1.11.1
Telethon==1.26.1
tenacity==8.1.0
twitchio==2.6.0
typing_extensions==4.4.0
yarl==1.8.2
